# --- Cœur IA & Vision (AeroGuard) ---
ultralytics
opencv-python
colorama

# --- Data Science & ML (SheJoy) ---
pandas
scikit-learn
joblib
numpy
matplotlib

# --- Dépendances Système (Pour compatibilité) ---
torch
torchvision
psutil
tqdm
